<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Inazuma Teams</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="img/raimon.jpg" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>

<body
  background="back_img/pngtree-seamless-black-and-white-sporting-items-pattern-with-classic-football-or-picture-image_1832773.jpg"
  style="">
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">INAZUMA TEAMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
          <li class="nav-item"><a class="nav-link" onclick="turnDark()">Dark mode</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page content-->
  <div class="container">

    <!-- SUB_ZONE -->
    <div id="sub_zone" class="card team" style="">

      <div class="container downBord" id="eqInfo">
        <div class="row">
          <div class="col-md-4 cen centerImgTeam">
            <img id="imgEq" class="img_Escudo" src={{img}}>
          </div>
          <div class="col-md-8 centrado_TemInf">

            <div class="form-group row">
              <h3>Name</h3>
              <p>{{name}}</p>
            </div>

            <div class="form-group row">
              <h3>Description</h3>
              <p>{{descr}}</p>
            </div>

            <div class="form-group row">
              <h3>Date</h3><div>
              <p>{{date}}</p></div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" {{#clasified}} checked {{/clasified}} id="flexCheckDefault" name="clasified" disabled>
              <label class="form-check-label biggerText" for="flexCheckDefault">
                Classified in league
              </label>
            </div>
            <br>
            <div class="buttonsFlexSDE">
              <div class="centerButtons">
                <button class="btn btn-outline-warning btnGoBack" onclick="location.href='/editTeam?name={{name}}'">Edit</button>
              </div>
              <div class="centerButtons">
                <button class="btn btn-outline-danger btnGoBack" onclick="location.href='/deleteTeam?name={{name}}'">Delete</button>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="soccers">
          
          {{#teams}}
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top"
                src={{img}}>
              <!-- Product details-->

              
              <div class="card-body p-4">
                <div class="text-center">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name : {{name}}</li>
                    <li class="list-group-item">Age : {{age}}</li>
                  </ul>
                </div>
              </div>
          

              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

              </div>
            </div>
            
          </div>

          {{/teams}}

        </div>
        <!--SUB ELEMENT FORM-->
        <div class="subElementDivForm">
          <form class="subElementForm" method="post" action="/createSoccer?name={{name}}">
            <div id="errorZone">
              {{#no_name}}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Error : Falta el nombre
                </div>
              </div>
              {{/no_name}}

              {{#no_img}}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Error : Falta la imagen
                </div>
              </div>
              {{/no_img}}

              {{#no_age}}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Error : Falta la edad
                </div>
              </div>
              {{/no_age}}

              {{#name_exist}}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  Error : Este jugador ya existe
                </div>
              </div>
              {{/name_exist}}
              

            </div>
            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="eq_img"
                  placeholder="Name of soccer like 'El bicho'" name="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Age</label>
              <div class="col-sm-10">
                <input type="number" class="form-control form-control-lg" id="eq_img" placeholder="Age of soccer" name="age">
              </div>
            </div>

            <div class="form-group row">
              <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Image</label>
              <div class="col-sm-10">
                <input type="url" class="form-control form-control-lg" id="eq_img" placeholder="url of image" name="img">
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-success submitSubForm">Add new Soccer</button>
          </form>
          
        </div>
        <br>
        <button class="btn btn-outline-primary submitSubForm" onclick="location.href = '/'">Go Back</button>
        <br>
      </div>
    </div>
    <br>
    <!-- SUB_ZONE -->

  </div>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Made by <strong>Cherno</strong></p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="scripts.js"></script>
</body>

</html>